@import "template/typography";
@import "template/utilities";
@import "template/buttons";


*{
  margin:0px;
  padding:0px;
  
}

nav {
  display: flex;
  justify-content: space-between;
  padding:15px;
  position:fixed;
  z-index: 3;
  top:10px;
  width:100%;
  box-sizing:border-box;

  .navigation {
    display:flex; 


    .contact {
      margin-right:40px;
    }

    .menu {
      display: block;
      width:30px;
      cursor: pointer;
    
    
      span.line {
        width:25px;
        border-bottom:.5px solid $dark;
        display: block;
        position: absolute;
        top:15px;
        right:20px;
        cursor: pointer;
        z-index: 2;
        transform-origin: center;
        transition:.2s ease;
        &:nth-of-type(2){
          top:30px;
         }
      }
      .line.rotated45 {
        transform: rotate(45deg);
        top:25px!important;
      }
      .line.rotatedMinus45 {
        transform: rotate(-45deg);
        top:25px!important;
      }
    }
  }
}

.contact {
  display: flex;
}

.contact a {
  text-decoration: none;
  position: relative;
  margin: 0 20px;
}

.container-home{  
  background-size:cover;
  background-attachment:fixed;

  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content: center;
}

.flexy{
  display:flex;
}

.subtitle{
  font-size:2rem;
}


.menu-container{
  height:100vh;
  background:maroon;
}


.box{
  background:white;
  height:300px;
  width:300px;
}